@import "../../vars.css";

.projectCard-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 10px 10px;
  max-width: 30%;
  height: 680px;
  transition: 0.3s ease-in-out;
  justify-content: space-between;
}

.projectCard-container:hover {
  transform: scale(1.1);
  transform: translateY(-30px);
  border: 5px solid rgba(255, 255, 255, 0.918);
}

.projectCard-image {
  margin-bottom: 26px;
  height: 200px;
  width: 100%;
  border-radius: 5%;
}

.projectCard-title {
  font-size: 25px;
  font-weight: 700;
}

.projectCard-description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.projectCard-skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.projectCard-skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.projectCard-links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.projectCard-link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
